
body{
    background-color: aquamarine;
}
.heading{
    text-align: center;
}
.container{
    text-align: center;
    background-color: rgb(214, 151, 69);
    /* background-color: linear-gradient(red,green); */
    /* color: pink; */
}
.inputtext{
    font-size: 15px;
    padding: 11px 4px;
    border: 2px solid black;
    border-radius: 6px;
    
}
.row{
    margin: 6px;
}
.button{
    margin: 6px;
    padding: 20px;
    border-radius: 9px;
    cursor: pointer;
    /* size: larger; */
}